#login-body{
    background-color: #2C3333;
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    overflow: hidden;
}
#login-container{
    background-color: #2E4F4F;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 2px rgba(158, 158, 158, 0.3);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
#login-container h1{
    margin-bottom: 70px;
    color: #CBE4DE;
    font-size: 50px;
    
}
.login-input{
    width: 150%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CBE4DE;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d6d6d6;
    position:relative;
    left: -20%;
    color:#2C3333;
    
}
#login-container label{
    font-weight: bold;
    color: #CBE4DE;
    position:relative;
    left: -16%;
}
#login-container input[type="submit"]{
    background-color: #0E8388;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 75%;
    position:relative;
    margin-top:15px;
    left: 14%;
}
#login-container h5{
    margin-top: 50px;
    color: #CBE4DE;
    font-size:15px;
}
#login-container a{
    margin-top: 50px;
    color: #CBE4DE;
    font-size:15px;
}